<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.doitfast">

    <uses-feature android:name="android.hardware.screen.portrait" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="nosensor"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoItFast">
        <activity android:name="com.project.doitfast.InvoiceActivity"/>
        <activity android:name="com.project.doitfast.CardDetails" />
        <activity android:name="com.project.doitfast.VehicleDetails" >

        </activity>
        <activity android:name="com.project.doitfast.BookingActivity" >

        </activity>
        <activity android:name="com.project.doitfast.ParkingActivity" >

        </activity>
        <activity android:name="com.project.doitfast.SplitActivity" />
        <activity android:name="com.project.doitfast.items.ForgetPassword" />
        <activity android:name="com.project.doitfast.TicketActivity" />
        <activity android:name="com.project.doitfast.ServicesActivity" />
        <activity android:name="com.project.doitfast.HomeActivity" />
        <activity android:name="com.project.doitfast.SignUpActivity" />
        <activity android:name="com.project.doitfast.SignInActivity" />
        <activity android:name="com.project.doitfast.WelcomeActivity" />
        <activity
            android:name="com.project.doitfast.MainActivity"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>